.stepper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.step-name {
    font-size: 14px;
}

.active .step-number {
    background-color: #007bff;
    color: #fff;
}

.complete .step-number {
    background-color: #28a745;
    color: #fff;
}

.next-btn {
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    background-color: rgb(12, 131, 131);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.progress-bar {
    position: absolute;
    top: 9%;
    left: 0%;
    height: 4px;
    width: 100%;
    background-color: #ccc;
    z-index: 0;
}

.progress {
    background-color: #28a745;
    transition: 0.2s ease;
    height: 100%
}