.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 3px;
    user-select: none;
}

.box {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: lightblue;
}