:root {
    --default-color: #888;
    --active-color: #f00;
}

.likeBtn {
    border: 2px solid var(--default-color);
    border-radius: 30px;
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: white;
}

.likeBtn:hover {
    border-color: var(--active-color);
    color: var(--active-color);
}

.liked,
.liked:hover {
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: white;
}

.error {
    font-size: 14px;
}