.grid {
    display: grid;
    gap: 30px;
    border: 2px solid black;
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: 2px solid black;
    height: 150px;
}

.cell-activate {
    background-color: green;
}